
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-4 p-4 shadow-lg border-round-lg bg-yellow-100">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium text-lg mb-2">Inscription en attente</span>
                    <div class="text-900 font-bold text-3xl">{{countPending}} </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-yellow-300 border-round" [ngStyle]="{width: '3rem', height: '3rem'}">
                    <i class="pi pi-clock text-yellow-800 text-2xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-4 p-4 shadow-lg border-round-lg bg-green-100">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium text-lg mb-2">Entreprises actives</span>
                    <div class="text-900 font-bold text-3xl">{{countActive}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-300 border-round" [ngStyle]="{width: '3rem', height: '3rem'}">
                    <i class="pi pi-check-circle text-green-800 text-2xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-4 p-4 shadow-lg border-round-lg bg-red-100">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium text-lg mb-2">Entreprises inactives</span>
                    <div class="text-900 font-bold text-3xl">{{countInactive}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-red-300 border-round" [ngStyle]="{width: '3rem', height: '3rem'}">
                    <i class="pi pi-lock text-red-800 text-2xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-4 p-4 shadow-lg border-round-lg bg-blue-100">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium text-lg mb-2">Nombre d'entreprises total</span>
                    <div class="text-900 font-bold text-3xl">{{totalRecords}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-300 border-round" [ngStyle]="{width: '3rem', height: '3rem'}">
                    <i class="pi pi-building text-blue-800 text-2xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
           
            <p-table #dt 
                [value]="requests" 
                [columns]="cols" 
                responsiveLayout="scroll" 
                [rows]="rows" 
                [globalFilterFields]="['company','username','email', 'cnssNumber', 'region']" 
                [paginator]="true" 
                [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[10,20,30]" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                [lazy]="true"
                (onPage)="onPageChange($event)"
                [first]="first"
                [(selection)]="selectedRequests" 
                selectionMode="multiple" 
                [rowHover]="true" 
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestion des Utilisateurs</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="company">Entité<p-sortIcon field="company"></p-sortIcon></th>
                        <th pSortableColumn="username">IFU<p-sortIcon field="username"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="cnssNumber">CNSS <p-sortIcon field="cnssNumber"></p-sortIcon></th>
                        <th pSortableColumn="region">Region <p-sortIcon field="region"></p-sortIcon></th>
                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-request>
                    <tr>
                        <td>{{ request.company.name }}</td>
                        <td>{{ request.company.ifu }}</td>
                        <td>{{ request.email }}</td>
                        <td>{{ request.cnssNumber }}</td>
                        <td>{{ request.region }}</td>
                        <td>
                            <span *ngIf="request.isPendingForActivation" class="p-badge p-badge-primary"> En attente de validation  </span>
                            <span *ngIf="request.isActive && !request.isPendingForActivation" class="p-badge p-badge-success"> Activé  </span>
                            <span *ngIf="!request.isActive && request.isPendingForActivation" class="p-badge p-badge-warning"> Non Validé  </span>
                            <span *ngIf="!request.isActive && !request.isPendingForActivation" class="p-badge p-badge-danger"> Désactivé  </span>
                        </td>
                        
                        <td>
                            <div class="flex">
                                <button *ngIf="request.statutDocumentPath"
                                    pButton 
                                    pRipple 
                                    icon="pi pi-download" 
                                    label="Statuts"
                                    class="p-button-secondary p-button-outlined mr-2"
                                    (click)="download(request.statutDocumentPath)" >
                                </button>
                                <button *ngIf="request.cnibDocumentPath"
                                    pButton 
                                    pRipple 
                                    icon="pi pi-download" 
                                    label="CNIB"
                                    class="p-button-secondary p-button-outlined mr-2"
                                    (click)="download(request.cnibDocumentPath)" >
                                </button>
                                <button 
                                        pButton pRipple icon="pi pi-check" 
                                        class="p-button-outlined p-button-success mr-2"
                                        *ngIf="request.isPendingForActivation"
                                        label="Valider l'inscription" 
                                        tooltipPosition="bottom"
                                        (click)="approveRequest(request)">
                                </button>
                                <button 
                                        pButton pRipple icon="pi pi-times" 
                                        class="p-button-outlined p-button-danger mr-2"
                                        *ngIf="request.isPendingForActivation"
                                        label="Rejeter l'inscription" 
                                        tooltipPosition="bottom"
                                        (click)="rejectRequest(request)">
                                </button>
                                <button 
                                        pButton pRipple icon="pi pi-lock-open" 
                                        class="p-button-outlined p-button-info mr-2"
                                        *ngIf="!request.isActive && !request.isPendingForActivation"
                                        label="Activer le compte" 
                                        tooltipPosition="bottom"
                                        (click)="activateRequest(request)">
                                </button>
                                <button 
                                        pButton pRipple icon="pi pi-lock" 
                                        class="p-button-outlined p-button-warning mr-2"
                                        *ngIf="request.isActive && !request.isPendingForActivation"
                                        label="Désactiver le compte" 
                                        tooltipPosition="bottom"
                                        (click)="desactivateRequest(request)">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Dialogs -->
        <p-dialog [(visible)]="approveRequestDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment valider l'inscription de l'entreprise <b>{{request?.company?.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="approveRequestDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmApproveRequest()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="rejectRequestDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment rejeter l'inscription de l'entreprise <b>{{request?.company?.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="rejectRequestDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmRejectRequest()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="activateRequestDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment activer le compte de l'entreprise <b>{{request?.company?.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="rejectRequestDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmActivateRequest()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="desactivateRequestDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment désactiver le compte de l'entreprise <b>{{request?.company?.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="rejectRequestDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDesactivateRequest()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

