
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
           
            <p-table #dt 
                [value]="requests" 
                [columns]="cols" 
                responsiveLayout="scroll" 
                [rows]="rows" 
                [globalFilterFields]="['company','username','email', 'cnssNumber', 'region']" 
                [paginator]="true" 
                [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[10,20,30]" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                [lazy]="true"
                (onPage)="onPageChange($event)"
                [first]="first"
                [(selection)]="selectedRequests" 
                selectionMode="multiple" 
                [rowHover]="true" 
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestion des Utilisateurs</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="company">Entité<p-sortIcon field="company"></p-sortIcon></th>
                        <th pSortableColumn="username">IFU<p-sortIcon field="username"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="cnssNumber">CNSS <p-sortIcon field="cnssNumber"></p-sortIcon></th>
                        <th pSortableColumn="region">Region <p-sortIcon field="region"></p-sortIcon></th>
                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-request>
                    <tr>
                        <td>{{ request.company.name }}</td>
                        <td>{{ request.company.ifu }}</td>
                        <td>{{ request.email }}</td>
                        <td>{{ request.cnssNumber }}</td>
                        <td>{{ request.region }}</td>
                        <td>
                            <span *ngIf="request.isActive" class="p-badge p-badge-success"> Validé  </span>
                            <span *ngIf="!request.isActive" class="p-badge p-badge-danger"> Non Validé  </span>
                        </td>
                        
                        <td>
                            <div class="flex">
                                <button *ngIf="request.statutDocumentPath"
                                    pButton 
                                    pRipple 
                                    icon="pi pi-download" 
                                    label="Statuts"
                                    class="p-button-secondary p-button-outlined mr-2"
                                    (click)="download(request.statutDocumentPath)" >
                                </button>
                                <button *ngIf="request.cnibDocumentPath"
                                    pButton 
                                    pRipple 
                                    icon="pi pi-download" 
                                    label="CNIB"
                                    class="p-button-secondary p-button-outlined mr-2"
                                    (click)="download(request.cnibDocumentPath)" >
                                </button>
                                <button 
                                        pButton pRipple icon="pi pi-check" 
                                        class="p-button-outlined p-button-info mr-2"
                                        *ngIf="!request.isActive"
                                        label="Valider l'inscription" 
                                        tooltipPosition="bottom"
                                        (click)="approveRequest(request)">
                                </button>
                                <button 
                                        pButton pRipple icon="pi pi-lock" 
                                        class="p-button-outlined p-button-warning mr-2"
                                        *ngIf="!request.isActive"
                                        label="Rejeter l'inscription" 
                                        tooltipPosition="bottom"
                                        (click)="rejectRequest(request)">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Dialogs -->
        <p-dialog [(visible)]="approveRequestDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment valider l'inscription de l'entreprise <b>{{request?.company?.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="approveRequestDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmApproveRequest()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="rejectRequestDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment rejeter l'inscription de l'entreprise <b>{{request?.company?.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="rejectRequestDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmRejectRequest()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

