<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            
            <p-table #dt [value]="requests" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                     [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes"
                     [(selection)]="selectedRequests" selectionMode="multiple" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                        <h5 class="m-0">Liste des demandes d'attestation DRTSS</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <!-- <th pSortableColumn="acte">Demandeur <p-sortIcon field="acte"></p-sortIcon></th> -->
                        <th pSortableColumn="requesterId">Id <p-sortIcon field="requesterId"></p-sortIcon></th>
                        <th pSortableColumn="createdAt">Date de demande<p-sortIcon field="createdAt"></p-sortIcon></th>
                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                        <th>Actions</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-request>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="request"></p-tableCheckbox>
                        </td>
                        <!-- <td>{{ request.company.name }}</td> -->
                        <td>{{ request.id }}</td>
                        <td>{{ request.createdAt | date: 'dd/MM/yyyy' }}</td>
                        <td>
                            <span class="p-badge" [ngClass]="{
                                'p-badge-success': request.status === 'Validée',
                                'p-badge-success': request.status === 'Traitée',
                                'p-badge-danger': request.status === 'Rejetée',
                                'p-badge-info': request.status === 'PENDING'
                            }">
                                {{ request.status === 'Traitée' ? 'Validée' : request.status }}
                            </span>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-eye" class="p-button-outlined p-button-secondary mr-2" (click)="openViewRequest(request)"   pTooltip="Voir la demande" tooltipPosition="bottom" ></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-outlined p-button-success mr-2" (click)="openProcessRequest(request)"  pTooltip="Valider la demande" tooltipPosition="bottom"></button>
                            <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-danger mr-2" (click)="openRejectRequest(request)"  pTooltip="Rejeter la demande" tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <!-- Modal de traitement -->
    <!-- <p-dialog header="Traitement de la demande" [(visible)]="displayProcessModal" [modal]="true" [style]="{width: '500px'}">
        <div class="grid">
            <div class="col-12">
                <span class="font-bold">Entreprise: {{ selectedRequest.company.name }}</span>
                <p>Adresse: {{ selectedRequest.company.address }}</p>
                <p>Localisation: {{ selectedRequest.company.location }}</p>
                <p>BP: {{ selectedRequest.company.bp }}</p>
                <p>Téléphone: {{ selectedRequest.company.phone }}</p>
            </div>
            <div class="col-12">
                <p-inputText [(ngModel)]="selectedRequest.anpeNumber" placeholder="Numéro Attestation ANPE"></p-inputText>
            </div>
            <div class="col-12 mt-2">
                <p-inputText [(ngModel)]="selectedRequest.cnssNumber" placeholder="Numéro Attestation CNSS"></p-inputText>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton label="Valider" icon="pi pi-check" (click)="processRequest()" class="p-button-success"></button>
            <button pButton label="Annuler" icon="pi pi-times" (click)="closeProcessModal()" class="p-button-secondary"></button>
        </ng-template>
    </p-dialog> -->

    <p-dialog header="Détails de la demande" [(visible)]="displayProcessDetailModal" [modal]="true" [style]="{width: '500px'}" *ngIf="one">
        <div class="grid">
            <div class="col-12">
                <span class="font-bold">Entreprise: {{ one.company.name }}</span>
            </div>
            <div class="col-6">
                <p><strong>Localisation: </strong> {{ one.company.location }}</p>
                <p><strong>BP: </strong> {{ one.company.bp }}</p>
            </div>
            <div class="col-6">
                <p><strong>Adresse: </strong> {{ one.company.address }}</p>
                <p><strong>Téléphone: </strong> {{ one.company.phone }}</p>
            </div>
            <div class="col-6 mt-2">
                <span><strong>N° Attestation ANPE: </strong> {{ one.anpeNumber }}</span>
            </div>
            <div class="col-6 mt-2">
                <span><strong>N° Attestation CNSS: </strong> {{ one.cnssNumber }} </span>
            </div>
            <div class="col-12 mt-2 flex">            
                <button 
                    pButton 
                    pRipple 
                    icon="pi pi-download" 
                    label="Télécharge l'attestation ANPE"
                    class="p-button-secondary p-button-outlined mr-2" 
                    (click)="download()">
                </button>
                <button 
                    pButton 
                    pRipple 
                    icon="pi pi-download" 
                    label="Télécharge l'attestation CNSS"
                    class="p-button-secondary p-button-outlined" 
                    (click)="download()">
                </button>
            </div>
        </div>
    </p-dialog>

    <p-dialog header="Traitement de la demande" [(visible)]="displayProcessModal" [modal]="true" [style]="{width: '500px'}" *ngIf="one">
        <div class="grid">
            <div class="col-12">
                <span class="font-bold">Entreprise: {{ one.company.name }}</span>
            </div>
            <div class="col-6">
                <p>Localisation: {{ one.company.location }}</p>
                <p>BP: {{ one.company.bp }}</p>
            </div>
            <div class="col-6">
                <p>Adresse: {{ one.company.address }}</p>
                <p>Téléphone: {{ one.company.phone }}</p>
            </div>
            <div class="col-6 mt-2">
                <span>N° Attestation ANPE</span>
                <input pInputText id="anpeNumber" [(ngModel)]="one.anpeNumber" placeholder="Numéro Attestation ANPE" />
            </div>
            <div class="col-6 mt-2">
                <span>N° Attestation CNSS</span>
                <input pInputText id="cnssNumber" [(ngModel)]="one.cnssNumber" placeholder="Numéro Attestation CNSS" />
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton label="Valider la demande" icon="pi pi-check" (click)="processRequest()" class="p-button-success"></button>
            <button pButton label="Annuler" icon="pi pi-times" (click)="closeProcessModal()" class="p-button-secondary"></button>
        </ng-template>
    </p-dialog>

    <!-- Modal de rejet -->
    <p-dialog header="Rejet de la demande" [(visible)]="displayRejectModal" [modal]="true" [style]="{width: '400px'}">
        <div class="col-12">
            <textarea 
                rows="5"
                cols="40" 
                placeholder="Motif du rejet"
                pInputTextarea 
                [(ngModel)]="rejectionReason">
            </textarea>
        </div>
        <ng-template pTemplate="footer">
            <button pButton label="Rejeter la demande" icon="pi pi-times" (click)="rejectRequest()" class="p-button-danger"></button>
            <button pButton label="Annuler" icon="pi pi-times" (click)="closeRejectModal()" class="p-button-secondary"></button>
        </ng-template>
    </p-dialog>
</div>
