<div class="surface-0">
    <div class="guide-wrapper overflow-hidden">
        <app-header></app-header>  
        <!-- Hero Section -->
        <div class="bg-green-800 text-white px-4 py-8 md:px-6 lg:px-8">
            <div class="text-center">
                <h1 class="text-5xl font-bold mb-4">Historique de vos demandes</h1>
            </div>
        </div>       
        <div class="px-4 py-8 md:px-6 lg:px-8">
            <div class="col-12">
                <div class="card px-6 py-6">
                    <p-toast></p-toast>
                    <!-- TabView PrimeNG -->
                    <p-tabView>
                        <!-- DRTSS -->
                        <p-tabPanel header="Attestation DRTPS ({{ countDrtss }})">
                            <p-table #dtdrtps [value]="requestsDrtss" [columns]="cols" responsiveLayout="scroll" 
                            [rows]="10" [globalFilterFields]="['acte','createdAt','status']" 
                            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
                            [showCurrentPageReport]="true" 
                            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                            [totalRecords]="totalRecords" [(selection)]="selectedDrtssRequests" 
                            selectionMode="multiple" [rowHover]="true" dataKey="id">

                                <ng-template pTemplate="caption">
                                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <h5 class="m-0">Historique de mes demandes d'attestation DRTPS</h5>
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dtdrtps, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                                    </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="reference">Reference du marché <p-sortIcon field="reference"></p-sortIcon></th>
                                        <th pSortableColumn="objet">Objet du marché <p-sortIcon field="objet"></p-sortIcon></th>
                                        <th pSortableColumn="createdAt">Date de demande<p-sortIcon field="createdAt"></p-sortIcon></th>
                                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                                        <th pSortableColumn="validity">Validité <p-sortIcon field="validity"></p-sortIcon></th>
                                        <th pSortableColumn="payment">Paiement <p-sortIcon field="payment"></p-sortIcon></th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-requestDrtss>
                                    <tr>
                                        <td>Ref. marché </td>
                                        <td>Objet du marché </td>
                                        <td>{{ requestDrtss.createdAt | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <span class="p-badge" [ngClass]="{
                                            'p-badge-success': requestDrtss.status === 'APPROVED',
                                                'p-badge-primary': requestDrtss.status === 'PROCESSING',
                                                'p-badge-danger': requestDrtss.status === 'REJECTED',
                                                'p-badge-info': requestDrtss.status === 'PENDING'
                                            }">
                                            {{ getTranslatedStatus(requestDrtss.status) }}
                                            </span>
                                        </td>
                                        <td>
                                            <div *ngIf="requestDrtss.status == 'APPROVED'">
                                                <p>
                                                    <!-- <strong>Validité de l'acte: </strong>  -->
                                                    <p-badge [value]="getValidityStatus(requestDrtss.createdAt).text"
                                                            [severity]="getValidityStatus(requestDrtss.createdAt).severity">
                                                    </p-badge>
                                                </p>
                                            </div>
                                            <div *ngIf="requestDrtss.status != 'APPROVED'">--</div>
                                        </td>
                                        <td>
                                            <span *ngIf="requestDrtss.isPaid" class="p-badge p-badge-success"> Payé  </span>
                                            <span *ngIf="!requestDrtss.isPaid" class="p-badge p-badge-danger"> Non Payé  </span>
                                        </td>
                                        <td>
                                            <!-- <button pButton pRipple icon="pi pi-eye" class="p-button-outlined p-button-secondary  mr-2" (click)="viewRequest(requestDrtss)" pTooltip="Voir la demande" tooltipPosition="bottom"></button> -->
                                            <div class="col-12 mt-2 flex" > 
                                                <button 
                                                    *ngIf="!requestDrtss.isPaid" 
                                                    pButton 
                                                    pRipple 
                                                    icon="pi pi-wallet" 
                                                    class="p-button-outlined p-button-warning mr-2" 
                                                    (click)="initatePaymentDRTPS(requestDrtss.id)" 
                                                    label="Payer">
                                                </button>
                                                <!-- <div *ngIf="requestDrtss.files"> -->
                                                    <button 
                                                        *ngFor="let file of requestDrtss.files"
                                                        pButton 
                                                        pRipple 
                                                        icon="pi pi-download" 
                                                        [label]="' ' + file.label"
                                                        class="p-button-secondary p-button-outlined mr-2"
                                                        (click)="download(file)" >
                                                    </button>
                                                <!-- </div>            -->
                                                <button 
                                                    *ngIf="requestDrtss.status == 'APPROVED'" 
                                                    pButton 
                                                    pRipple 
                                                    icon="pi pi-download" 
                                                    class="p-button-outlined p-button-info mr-2" 
                                                    (click)="openDownloadRequest(requestDrtss)" 
                                                    label="Télécharger l'attestation DRTPS">
                                                </button>
                                                <button 
                                                    *ngIf="requestDrtss.status == 'REJECTED'" 
                                                    pButton 
                                                    pRipple 
                                                    icon="pi pi-eye" 
                                                    class="p-button-outlined p-button-danger mr-2" 
                                                    (click)="openMotif(requestDrtss)" 
                                                    label="Voir le motif de rejet">
                                                </button>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>

                        <!-- AJE -->
                        <p-tabPanel header="Attestation de non engagement (AJE) ({{ countAje }})" >
                            <p-table #dtaje [value]="requestsAje" [columns]="cols" responsiveLayout="scroll" 
                            [rows]="10" [globalFilterFields]="['acte','createdAt','status']" 
                            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
                            [showCurrentPageReport]="true" 
                            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                            [totalRecords]="totalRecordsAje" [(selection)]="selectedAjeRequests" 
                            selectionMode="multiple" [rowHover]="true" dataKey="id">

                                <ng-template pTemplate="caption">
                                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <h5 class="m-0">Historique de mes demandes d'attestation AJE</h5>
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dtaje, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                                    </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="reference">Reference du marché <p-sortIcon field="reference"></p-sortIcon></th>
                                        <th pSortableColumn="objet">Objet du marché <p-sortIcon field="objet"></p-sortIcon></th>
                                        <th pSortableColumn="createdAt">Date de demande<p-sortIcon field="createdAt"></p-sortIcon></th>
                                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-requestAje>
                                    <tr>
                                        <td>Ref. marché </td>
                                        <td>Objet du marché </td>
                                        <td>{{ requestAje.createdAt | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <span class="p-badge" [ngClass]="{
                                            'p-badge-success': requestAje.status === 'APPROVED',
                                                'p-badge-primary': requestAje.status === 'PROCESSING',
                                                'p-badge-danger': requestAje.status === 'REJECTED',
                                                'p-badge-info': requestAje.status === 'PENDING'
                                            }">
                                            {{ getTranslatedStatus(requestAje.status) }}
                                            </span>
                                        </td>
                                        <td>
                                            <button *ngIf="requestAje.status == 'APPROVED'" pButton pRipple icon="pi pi-download" 
                                            class="p-button-outlined p-button-info mr-2" (click)="openDownloadRequestAje(requestAje)" 
                                            pTooltip="Télécharger l'attestation" tooltipPosition="bottom"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>

                        <!-- ANPE -->
                        <p-tabPanel header="Attestation ANPE ({{ countAnpe }})">
                            <p-table #dtanpe [value]="requestsAnpe" [columns]="cols" responsiveLayout="scroll" 
                            [rows]="10" [globalFilterFields]="['acte','createdAt','status']" 
                            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
                            [showCurrentPageReport]="true" 
                            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                            [totalRecords]="totalRecordsAnpe" [(selection)]="selectedAnpeRequests" 
                            selectionMode="multiple" [rowHover]="true" dataKey="id">

                                <ng-template pTemplate="caption">
                                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <h5 class="m-0">Historique de mes demandes d'attestation ANPE</h5>
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dtanpe, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                                    </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="reference">Reference du marché <p-sortIcon field="reference"></p-sortIcon></th>
                                        <th pSortableColumn="objet">Objet du marché <p-sortIcon field="objet"></p-sortIcon></th>
                                        <th pSortableColumn="createdAt">Date de demande<p-sortIcon field="createdAt"></p-sortIcon></th>
                                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-requestAnpe>
                                    <tr>
                                        <td>{{ requestAnpe.ref }} </td>
                                        <td>{{ requestAnpe.objet }} </td>
                                        <td>{{ requestAnpe.createdAt | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <span class="p-badge" [ngClass]="{
                                            'p-badge-success': requestAnpe.status === 'APPROVED',
                                                'p-badge-primary': requestAnpe.status === 'PROCESSING',
                                                'p-badge-danger': requestAnpe.status === 'REJECTED',
                                                'p-badge-info': requestAnpe.status === 'PENDING'
                                            }">
                                            {{ getTranslatedStatus(requestAnpe.status) }}
                                            </span>
                                        </td>
                                        <td>
                                            <button *ngIf="requestAnpe.status == 'APPROVED'" pButton pRipple icon="pi pi-download" 
                                            class="p-button-outlined p-button-info mr-2" (click)="openDownloadRequest(requestAnpe)" 
                                            pTooltip="Télécharger l'attestation" tooltipPosition="bottom"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>

                        <!-- RCCM -->
                        <p-tabPanel header="Extrait RCCM et Certificat de non faillite({{ countRccm }})">
                            <p-table #dtrccm [value]="requestsRccm" [columns]="cols" responsiveLayout="scroll" 
                            [rows]="10" [globalFilterFields]="['acte','createdAt','status']" 
                            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
                            [showCurrentPageReport]="true" 
                            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                            [totalRecords]="totalRecordsRccm" [(selection)]="selectedRccmRequests" 
                            selectionMode="multiple" [rowHover]="true" dataKey="id">

                                <ng-template pTemplate="caption">
                                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <h5 class="m-0">Historique de mes demandes d'attestation RCCM</h5>
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dtrccm, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                                    </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th pSortableColumn="reference">Reference du marché <p-sortIcon field="reference"></p-sortIcon></th> -->
                                        <!-- <th pSortableColumn="objet">Objet du marché <p-sortIcon field="objet"></p-sortIcon></th> -->
                                        <th pSortableColumn="type">Type de demande <p-sortIcon field="type"></p-sortIcon></th>
                                        <th pSortableColumn="createdAt">Date de demande<p-sortIcon field="createdAt"></p-sortIcon></th>
                                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-requestRccm>
                                    <tr>
                                        <!-- <td>{{ requestRccm.ref }} </td> -->
                                        <!-- <td>{{ requestRccm.objet }} </td> -->
                                        <td>{{ requestRccm.type }} </td>
                                        <td>{{ requestRccm.createdAt | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <span class="p-badge" [ngClass]="{
                                            'p-badge-success': requestRccm.status === 'APPROVED',
                                                'p-badge-primary': requestRccm.status === 'PROCESSING',
                                                'p-badge-danger': requestRccm.status === 'REJECTED',
                                                'p-badge-info': requestRccm.status === 'PENDING'
                                            }">
                                            {{ getTranslatedStatus(requestRccm.status) }}
                                            </span>
                                        </td>
                                        <td>
                                            <button *ngIf="requestRccm.status == 'APPROVED'" pButton pRipple icon="pi pi-download" 
                                            class="p-button-outlined p-button-info mr-2" (click)="openDownloadRequest(requestRccm)" 
                                            pTooltip="Télécharger l'attestation" tooltipPosition="bottom"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>

                        <!-- ASF -->
                        <p-tabPanel header="Attestation de situation fiscale ({{ countAsf }})">
                            <p-table #dtasf [value]="requestAsf" [columns]="cols" responsiveLayout="scroll" 
                            [rows]="10" [globalFilterFields]="['acte','createdAt','status']" 
                            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
                            [showCurrentPageReport]="true" 
                            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                            [totalRecords]="totalRecordsCnss" [(selection)]="selectedCnssRequests" 
                            selectionMode="multiple" [rowHover]="true" dataKey="id">

                                <ng-template pTemplate="caption">
                                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <h5 class="m-0">Historique de mes demandes d'attestation de situation fiscale</h5>
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dtasf, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                                    </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="reference">Reference du marché <p-sortIcon field="reference"></p-sortIcon></th>
                                        <th pSortableColumn="objet">Objet du marché <p-sortIcon field="objet"></p-sortIcon></th>
                                        <th pSortableColumn="createdAt">Date de demande<p-sortIcon field="createdAt"></p-sortIcon></th>
                                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-requestsAsf>
                                    <tr>
                                        <td>{{ requestsAsf.ref }} </td>
                                        <td>{{ requestsAsf.objet }} </td>
                                        <td>{{ requestsAsf.createdAt | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <span class="p-badge" [ngClass]="{
                                            'p-badge-success': requestsAsf.status === 'APPROVED',
                                                'p-badge-primary': requestsAsf.status === 'PROCESSING',
                                                'p-badge-danger': requestsAsf.status === 'REJECTED',
                                                'p-badge-info': requestsAsf.status === 'PENDING'
                                            }">
                                            {{ getTranslatedStatus(requestsAsf.status) }}
                                            </span>
                                        </td>
                                        <td>
                                            <button *ngIf="requestsAsf.status == 'APPROVED'" pButton pRipple icon="pi pi-download" 
                                            class="p-button-outlined p-button-info mr-2" (click)="openDownloadRequest(requestsAsf)" 
                                            pTooltip="Télécharger l'attestation" tooltipPosition="bottom"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>

                        <!-- CNSS -->
                        <p-tabPanel header="Situation cotisante CNSS ({{ countCnss }})">
                            <p-table #dtcnss [value]="requestCnss" [columns]="cols" responsiveLayout="scroll" 
                            [rows]="10" [globalFilterFields]="['acte','createdAt','status']" 
                            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
                            [showCurrentPageReport]="true" 
                            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                            [totalRecords]="totalRecordsCnss" [(selection)]="selectedCnssRequests" 
                            selectionMode="multiple" [rowHover]="true" dataKey="id">

                                <ng-template pTemplate="caption">
                                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <h5 class="m-0">Historique de mes demandes d'attestation de situation cotisante CNSS</h5>
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dtcnss, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                                    </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="reference">Reference du marché <p-sortIcon field="reference"></p-sortIcon></th>
                                        <th pSortableColumn="objet">Objet du marché <p-sortIcon field="objet"></p-sortIcon></th>
                                        <th pSortableColumn="createdAt">Date de demande<p-sortIcon field="createdAt"></p-sortIcon></th>
                                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-requestCnss>
                                    <tr>
                                        <td>{{ requestCnss.ref }}</td>
                                        <td>{{ requestCnss.objet }}</td>
                                        <td>{{ requestCnss.createdAt | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <span class="p-badge" [ngClass]="{
                                            'p-badge-success': requestCnss.status === 'APPROVED',
                                                'p-badge-primary': requestCnss.status === 'PROCESSING',
                                                'p-badge-danger': requestCnss.status === 'REJECTED',
                                                'p-badge-info': requestCnss.status === 'PENDING'
                                            }">
                                            {{ getTranslatedStatus(requestCnss.status) }}
                                            </span>
                                        </td>
                                        <td>
                                            <button *ngIf="requestCnss.status == 'APPROVED'" pButton pRipple icon="pi pi-download" 
                                            class="p-button-outlined p-button-info mr-2" (click)="openDownloadRequest(requestCnss)" 
                                            pTooltip="Télécharger l'attestation" tooltipPosition="bottom"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>

                        <!-- CNF -->
                        <!-- <p-tabPanel header="Certificat de non faillite ({{ countCnf }})">
                            <p-table #dtcnf [value]="requestsRccm" [columns]="cols" responsiveLayout="scroll" 
                            [rows]="10" [globalFilterFields]="['acte','createdAt','status']" 
                            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
                            [showCurrentPageReport]="true" 
                            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} demandes" 
                            [totalRecords]="totalRecordsCnf" [(selection)]="selectedCnfRequests" 
                            selectionMode="multiple" [rowHover]="true" dataKey="id">

                                <ng-template pTemplate="caption">
                                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <h5 class="m-0">Historique de mes demandes de certificat de non faillite</h5>
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dtcnf, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                                    </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="reference">Reference du marché <p-sortIcon field="reference"></p-sortIcon></th>
                                        <th pSortableColumn="objet">Objet du marché <p-sortIcon field="objet"></p-sortIcon></th>
                                        <th pSortableColumn="createdAt">Date de demande<p-sortIcon field="createdAt"></p-sortIcon></th>
                                        <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-requestsCnf>
                                    <tr>
                                        <td>{{ requestsCnf.ref }} </td>
                                        <td>{{ requestsCnf.objet }} </td>
                                        <td>{{ requestsCnf.createdAt | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <span class="p-badge" [ngClass]="{
                                            'p-badge-success': requestsCnf.status === 'APPROVED',
                                                'p-badge-primary': requestsCnf.status === 'PROCESSING',
                                                'p-badge-danger': requestsCnf.status === 'REJECTED',
                                                'p-badge-info': requestsCnf.status === 'PENDING'
                                            }">
                                            {{ getTranslatedStatus(requestsCnf.status) }}
                                            </span>
                                        </td>
                                        <td>
                                            <button *ngIf="requestsCnf.status == 'APPROVED'" pButton pRipple icon="pi pi-download" 
                                            class="p-button-outlined p-button-info mr-2" (click)="openDownloadRequest(requestsCnf)" 
                                            pTooltip="Télécharger l'attestation" tooltipPosition="bottom"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel> -->

                    </p-tabView>
                </div>

                <p-dialog header="Motif de rejet de votre demande DRTPS" [(visible)]="displayMotifModal" [modal]="true" [style]="{width: '650px'}" *ngIf="requestDrtss">
                    <div class="grid">
                        <div class="col-6">
                            <p><strong>Date de demande: </strong> {{ requestDrtss.createdAt | date: 'dd/MM/yyyy' }}</p>
                        </div>
                        <div class="col-12">
                            <p><strong>Motif de rejet</strong></p>
                            <p>{{requestDrtss.rejectionReason }}</p>
                        </div>
                    </div>
                </p-dialog>
            </div>
        </div>
        <app-footer></app-footer>  
    </div>
</div>