<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h2 class="text-center">Mon Profil</h2>
            <p-divider></p-divider>
            <p-toast />

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="nom">Nom</label>
                    <input class="readonly-input" pInputText id="lastname" [(ngModel)]="request.lastname" placeholder="Nom" readonly/>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="prenom">Prénom</label>
                    <input class="readonly-input" pInputText id="forename" [(ngModel)]="request.forename" placeholder="Prénom" readonly/>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="email">Email</label>
                    <input class="readonly-input" pInputText id="email" [(ngModel)]="request.email" placeholder="Email" readonly />
                </div>
            </div>
            <!-- <div class="mt-4">
                <p-button label="Sauvegarder les modifications" icon="pi pi-save" severity="success" (click)="saveProfil()"></p-button>
            </div> -->
        </div>
    </div>
</div>
<style>
    .readonly-input[readonly] {
    background-color: #f0f0f0; /* Gris clair */
    color: #6c757d; /* Texte gris */
    cursor: not-allowed;
}
</style>
