<div class="card mb-10">
  <div class="card-body d-flex align-items-center py-8">
    <!-- begin::Description  -->
    <div class="ms-6">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
        The layout builder is to assist your set and configure your preferred
        project layout specifications and preview it in real-time and export the
        HTML template with its includable partials of this demo. The downloaded
        version does not include the assets folder since the layout builder's
        main purpose is to help to generate the final HTML code without hassle.
        Layout builder changes don't affect pages with layout wrappers.
      </p>
    </div>
    <!-- end::Description  -->
  </div>
</div>


  <!-- begin::Header -->
  <div class="card-header card-header-stretch overflow-auto">
    <h1 class="title">Liste des actes</h1>
  </div>
  <!-- end::Header -->


  <!-- begin::Row -->
  <div class="row g-5 g-xl-8">
    <!-- begin::Col -->
    <div class="col-xl-4" *ngFor="let acte of actes">
      <div class="card card-xl-stretch mb-xl-8">
        <div class="card-body d-flex flex-column p-0">
          <div class="flex-grow-1 card-p pb-0">
            <div class="d-flex flex-stack flex-wrap">
              <div class="me-2">
                <a routerLink="/actes/details/{{acte.slug}}" class="text-gray-900 text-hover-primary fw-bolder fs-3">
                  {{acte.label}}
                </a>
        
                <div class="text-muted fs-7 fw-bold">
                  {{acte.description}}
                </div>
              </div>

              <div class="pt-5">
                <a routerLink="/actes/demande/{{acte.slug}}" class="btn w-100 py- btn-info">
                  Faire une demande
                </a>
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::Col -->

  </div>
  <!-- end::Row -->
