<div class="card mb-10">
  <div class="card-body d-flex align-items-center py-8">
    <!-- begin::Description  -->
    <div class="ms-6">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
        Ce Guichet Unique des Marchés Publics s’adresse à tous les opérateurs économiques au Burkina Faso,
        qu’il s’agisse de PME, grandes entreprises ou d’entrepreneurs individuels. En utilisant
        cette plateforme, vous aurez accès aux services des ministères de l’Économie, des Finance, 
        de la Fonction Publique, et de la Justice pour obtenir vos attestations et certificats nécessaires aux appels d’offres.
      </p>
    </div>
    <!-- end::Description  -->
  </div>
</div>


  <!-- begin::Header -->
  <div class="card-header card-header-stretch overflow-auto">
    <h1 class="title">Liste des actes dématérialisés</h1>
  </div>
  <!-- end::Header -->


  <!-- begin::Row -->
  <div class="row g-5 g-xl-8">
    <!-- begin::Col -->
    <div class="col-xl-4" *ngFor="let acte of actes">
      <div class="card card-xl-stretch mb-xl-8">
        <div class="card-body d-flex flex-column p-0">
          <div class="flex-grow-1 card-p pb-0">
            <div class="d-flex flex-stack flex-wrap">
              <div class="me-2">
                <a routerLink="/actes/details/{{acte.slug}}" class="text-gray-900 text-hover-primary fw-bolder fs-3">
                  {{acte.label}}
                </a>
        
                <div class="text-muted fs-7 fw-bold">
                  {{acte.description}}
                </div>
              </div>

              <div class="pt-5">
                <a routerLink="/actes/demande/{{acte.slug}}" class="btn w-100 py- btn-info">
                  Faire une demande
                </a>
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::Col -->

  </div>
  <!-- end::Row -->
