<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Formulaire de demande d'une attestation ANPE</h5>
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-4">
					<label htmlFor="city">Type d'acte dérivé</label>
                    <p-dropdown 
                        [options]="actes" 
                        [(ngModel)]="selectedActe" 
                        optionLabel="acte" 
                        placeholder="Selectioner un type d'acte" />
				</div>
                <div class="field col-12 md:col-4">
					<label htmlFor="city">Joindre une copie de l'extrait du RCCM</label>
                    <p-toast />
                    <p-fileUpload 
                    mode="basic" 
                    chooseLabel="Charger le fichier" 
                    chooseIcon="pi pi-upload"
                    styleClass="p-button-secondary"
                    name="rccmFile" 
                    accept="image/*,.pdf" 
                    maxFileSize="1000000000" 
                    (onSelect)="onFileSelect($event, 'rccmFile')"/>
				</div>
                <div class="field col-12 md:col-4">
					<label htmlFor="city">Jondre une copie de l'extrait des statuts</label>
					<p-toast />
                    <p-fileUpload 
                        mode="basic" 
                        chooseLabel="Charger le fichier" 
                        styleClass="p-button-secondary"
                        chooseIcon="pi pi-upload"
                        name="statutFile" 
                        accept="image/*,.pdf" 
                        maxFileSize="1000000000" 
                        (onSelect)="onFileSelect($event, 'statutFile')"/>
				</div>
			</div>            
            <div class="field col-12 text-right">
                <button 
                    pButton 
                    pRipple 
                    icon="pi pi-check" 
                    label="Valider et envoyer le formulaire" 
                    class="p-button-success" 
                    (click)="onSubmit()">
                </button>
            </div>
		</div>
	</div>
</div>
