<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
            <a class="flex align-items-center" href="#">
                <img src="assets/{{layoutService.config().colorScheme === 'light' ? 'image' : 'image'}}.png" alt="GUMP Logo" height="50" class="mr-0 lg:mr-2">
                <span class="text-900 font-bold text-2xl line-height-3 mr-8">Guichet Unique des Marchés Publics</span>
            </a>
            <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <i class="pi pi-bars text-4xl"></i>
            </a>
            <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:120px">
                <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                    <!-- Placeholder for navigation -->
                </ul>
                <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
                    <button routerLink="/auth/login" pButton pRipple label="Connexion" class="p-button border-none ml-5 font-semibold line-height-2 bg-green-600 text-white p-button-rounded"></button>
                </div>
            </div>
        </div>
    
        <div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden" 
            style="background: linear-gradient(0deg, rgb(255, 255, 255), rgba(42, 180, 7, 0.021)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #258b06 10%, #ec290f 100%); clip-path: ellipse(150% 87% at 93% 13%);">
            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <h1 class="text-6xl font-bold text-gray-900 line-height-2">Guichet Unique des Marchés Publics</h1>
                <p class="font-normal text-2xl line-height-3 md:mt-3 pb-4 text-gray-700">
                    Simplifiez vos démarches administratives avec une plateforme centralisée et efficace. Gagnez du temps et optimisez vos formalités en toute sécurité.
                </p>
            </div>
        </div>
        
        <div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
            <div class="grid justify-content-between">
                <div class="col-12 text-center mt-8 mb-4">
                    <h2 class="text-900 font-bold mb-2 text-3xl">Services dématérialisés</h2>
                </div>
    
<div class="grid justify-content-between">
    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card acte-carte">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="acte-icon">
                    <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width: 40%;">
                        <img src="assets/image.png" alt="">
                        <!-- <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i> -->
                    </div>
                </div>


                <h5 class="mb-2 text-900 font-bold">Attestation DRTSS</h5>
                <div class="pt-1 acte-button">
                    <button routerLink="/app/pages/actes/attestation-drtss"
                        class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                        Faire une demande
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card acte-carte">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="acte-icon">

                    <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width: 40%;">
                    <img src="assets/cnss.jpg" alt="">
                    <!-- <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i> -->
                </div>
                </div>
              
                <h5 class="mb-2 text-900 font-bold">Attestation de situation cotisante CNSS</h5>
                <div class="pt-1 acte-button">
                    <a routerLink="/app/pages/actes/attestation-cnss"
                        class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                        Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card acte-carte">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">

                <div class="acte-icon">
                    <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width: 40%;">
                    <img src="assets/image.png" alt="">
                    <!-- <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i> -->
                </div>
                </div>
              
                <h5 class="mb-2 text-900 font-bold">Attestation de Situation Fiscale</h5>
                <div class="pt-1 acte-button">
                    <a routerLink="/app/pages/actes/attestation-situation-fiscale"
                        class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                        Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card acte-carte">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">

                <div class="acte-icon ">
                    <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width: 40%;">
                    <img src="assets/mjdhri.jpg" alt="">
                    <!-- <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i> -->
                </div>
                </div>
               
                <h5 class="mb-2 text-900 font-bold">Attestation de non engagement de l'Agent judiciaire de l'ETAT (AJE)
                </h5>
                <div class="pt-1 acte-button">
                    <a routerLink="/app/pages/actes/attestation-aje"
                        class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                        Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card acte-carte">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">

                <div class="acte-icon">

                    <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width: 40%;">
                    <img src="assets/image.png" alt="">
                    <!-- <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i> -->
                </div>
                </div>
              
                <h5 class="mb-2 text-900 font-bold">Registre du commerce et du crédit Mobilier (RCCM)</h5>
                <div class="pt-1 acte-button">
                    <a routerLink="/app/pages/actes/attestation-rccm"
                        class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                        Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card acte-carte">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">

                <div class="acte-icon">
                    <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width: 40%;">
                    <img src="assets/mjdhri.jpg" alt="">
                    <!-- <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i> -->
                </div>
                </div>
               
                <h5 class="mb-2 text-900 font-bold">Certificat de non faillite </h5>
                <div class="pt-1 acte-button">
                    <a routerLink="/app/pages/actes/certificat-de-non-faillite"
                        class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                        Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card acte-carte">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">

                <div class="acte-icon">
                    <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width: 40%;">
                    <img src="assets/anpe.jpg" alt="">
                    <!-- <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i> -->
                </div>
                </div>
               
                <h5 class="mb-2 text-900 font-bold">Attestation ANPE</h5>
                <div class="pt-1 acte-button">
                    <a routerLink="/app/pages/actes/attestation-anpe"
                        class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                        Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

                
            </div>
        </div>

        <div class="py-4 px-4 mx-0 mt-8 lg:mx-12 bg-gray-800">
            <div class="grid justify-content-center">
                <div class="col-12 md:col-3">
                    <a href="/" class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3">
                        <img src="assets/image.png" alt="logo guichet" width="125" height="150" class="mr-2">
                        <h5 class="font-medium text-3xl text-white">Guichet Unique des Marchés Publics</h5>
                    </a>
                </div>
        
                <div class="col-12 md:col-10 lg:col-7">
                    <div class="grid text-center md:text-left">
                        <div class="col-12 md:col-4">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-white">Liens externes</h4>
                            <a href="https://drtss.gov.bf" class="line-height-3 text-xl block mb-2 text-white">DRTSS</a>
                            <a href="https://e-cnss.gov.bf" class="line-height-3 text-xl block mb-2 text-white">e-CNSS</a>
                            <a href="https://justice.gov.bf" class="line-height-3 text-xl block mb-2 text-white">Justice</a>
                            <a href="https://esintax.gov.bf" class="line-height-3 text-xl block mb-2 text-white">eSINTAX</a>
                        </div>
        
                        <div class="col-12 md:col-4 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-white">Sites officiels</h4>
                            <a href="https://finances.gov.bf" class="line-height-3 text-xl block mb-2 text-white">Ministère | finances.gov.bf</a>
                            <a href="https://dgi.bf" class="line-height-3 text-xl block mb-2 text-white">DGI | dgi.bf</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4 border-gray-600"></div>
        </div>
        
        <div class="layout-footer bg-gray-800 text-white text-center py-4">
            &copy; 2024 - Guichet Unique des Marchés Publics <span class="font-medium"> - MEFP</span>
        </div>        
        
    </div>
</div>
