<div class="surface-0">
    <div class="guide-wrapper overflow-hidden">
        <app-header></app-header>   

        <div class="px-4 py-8 md:px-6 lg:px-8">
            <div class="col-12">
                <div class="card px-6 py-6">
                    <h2 class="text-center">Mon Profil</h2>
                    <p-divider></p-divider>
                    <p-toast />

                    <div class="p-fluid formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label for="nom">Nom du représentant</label>
                            <input pInputText id="nom" [(ngModel)]="request.company.representantLastname" placeholder="Nom" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="prenom">Prénom du représentant</label>
                            <input pInputText id="prenom" [(ngModel)]="request.company.representantFirstname" placeholder="Prénom" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="prenom">Numéro de téléphone du représentant</label>
                            <input pInputText id="prenom" [(ngModel)]="request.company.representantPhone" placeholder="Numéro de téléphone du représentant" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="email">Email du representant</label>
                            <input class="readonly-input" pInputText id="email" [(ngModel)]="request.email" readonly/>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="entreprise">Nom de l'entreprise</label>
                            <input class="readonly-input" pInputText id="email" [(ngModel)]="request.company.name"  readonly/>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="adresse">Adresse de l'entreprise</label>
                            <input pInputText id="email" [(ngModel)]="request.company.address" placeholder="Adresse de l'entreprise"/>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="phone">Téléphone de l'entreprise</label>
                            <input pInputText id="email" [(ngModel)]="request.company.phone" placeholder="Téléphone de l'entreprise" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="prenom">Région de l'entreprise</label>
                            <input pInputText id="prenom" [(ngModel)]="request.company.region" placeholder="Région de l'entreprise" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="prenom">Localisation de l'entreprise</label>
                            <input pInputText id="prenom" [(ngModel)]="request.company.location" placeholder="Localisation de l'entreprise" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="prenom">Adresse postale de l'entreprise</label>
                            <input pInputText id="prenom" [(ngModel)]="request.company.postalAddress" placeholder="Adresse postale de l'entreprise" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="phone">Numéro IFU</label>
                            <input class="readonly-input" pInputText id="email" [(ngModel)]="request.company.ifu" readonly/>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="phone">Numéro adhérent CNSS</label>
                            <input class="readonly-input" pInputText id="email" [(ngModel)]="request.cnssNumber" readonly/>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="phone">Numéro RCCM</label>
                            <input class="readonly-input" pInputText id="email" [(ngModel)]="request.company.rccm" readonly/>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p-button label="Sauvegarder les modifications" icon="pi pi-save" severity="success" (click)="saveProfil()"></p-button>
                    </div>
                   
                </div>
            </div>
        </div>
        <app-footer></app-footer>  
    </div>
</div>
<style>
    .readonly-input[readonly] {
    background-color: #f0f0f0; /* Gris clair */
    color: #6c757d; /* Texte gris */
    cursor: not-allowed;
}
</style>