<div class="surface-0">
    <div class="guide-wrapper overflow-hidden">
        <app-header></app-header>  
        <p-toast position="top-right"></p-toast>
        <!-- Hero Section -->
        <div class="other-hero bg-green-800 text-white px-4 py-8 md:px-6 lg:px-8">
            <div class="text-center">
                <h1 class="text-5xl font-bold mb-4">Formulaire de demande de l'attestation de situation fiscale</h1>
            </div>
        </div>       
        <div class="px-4 py-8 md:px-6 lg:px-8">
            <div class="col-12">
                <div class="card">
                    <div class="p-fluid p-formgrid grid">
                        <span>Confirmation de l'envoie de la demande.</span>

                        <!-- <div class="field col-3 mt-2">
                            <span>Numéro IFU (*)</span>
                            <input pInputText type="text" id="ifu" [(ngModel)]="ifu" placeholder="Numéro IFU" required />
                        </div>
                        <div class="field col-3 mt-2">
                            <span>Numéro NES (*)</span>
                            <input pInputText type="text" id="nes" [(ngModel)]="nes" placeholder="Numéro NES" required />
                        </div> -->
                    </div>            
                    <div class="field col-12 text-right">
                        <button 
                            pButton 
                            pRipple 
                            icon="pi pi-check" 
                            label="Valider et confirmer la demande" 
                            class="p-button-success" 
                            (click)="onSubmit()">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>  
    </div>
</div>