<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard"
  ><span class="menu-title">Accueil</span
  ></a>
</div>

<!-- Layout Builder -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/actes"
  ><span class="menu-title">Actes</span></a
  >
</div>

<!-- <div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/builder"
  ><span class="menu-title">Demandes</span></a
  >
</div> -->


<!-- Crafted -->
<!-- <div
  class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
  data-kt-menu-trigger="click"
  data-kt-menu-placement="bottom-start"
>
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')">
    <span class="menu-title">Actes</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div
    class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
      py-lg-4
      w-lg-225px
    "
    data-kt-menu-dismiss="true"
    data-popper-placement="bottom-start"
  >
    
  
  </div>
</div> -->

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/contact"
  ><span class="menu-title">Contact</span></a
  >
</div>

