<div class="surface-0">
    <div class="guide-wrapper overflow-hidden">
        <app-header></app-header>  
        <!-- Hero Section -->
        <div class="bg-green-800 text-white px-4 py-8 md:px-6 lg:px-8">
            <div class="text-center">
                <h1 class="text-5xl font-bold mb-4">Formulaire de demande de l'extrait du registre de commerce et du crédit mobilier</h1>
            </div>
        </div>         
        <div class="px-4 py-8 md:px-6 lg:px-8">
            <div class="col-12">
                <div class="card">
                    <div class="p-fluid p-formgrid grid">
                        <div class="col-3 mt-2">
                            <span>Date d'immatriculation de votre entreprise</span>
                            <input pInputText type="date" id="immatriculationDate" [(ngModel)]="immatriculationDate" placeholder="yyyy/mm/dd" required />
                        </div>
                        <div class="field col-12 md:col-3">
                            <label htmlFor="city">Jondre l'extrait du RCCM</label>
                            <p-toast />
                            <p-fileUpload 
                                mode="basic" 
                                chooseLabel="Charger le fichier" 
                                styleClass="p-button-secondary"
                                chooseIcon="pi pi-upload"
                                name="statutFile" 
                                accept="image/*,.pdf" 
                                maxFileSize="1000000000" 
                                (onSelect)="onFileSelect($event, 'rccmFile')"/>
                        </div>
                    </div>            
                    <div class="field col-12 text-right">
                        <button 
                            pButton 
                            pRipple 
                            icon="pi pi-check" 
                            label="Valider et envoyer le formulaire" 
                            class="p-button-success" 
                            (click)="onSubmit()">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>  
    </div>
</div>