<div class="surface-0">
    <div class="guide-wrapper overflow-hidden">
        <app-header></app-header>  
        <!-- Hero Section avec progression -->
        <div class="other-hero bg-green-800 text-white px-4 py-8 md:px-6 lg:px-8">
            <div class="text-center">
                <h1 class="text-5xl font-bold mb-4">Formulaire de demande d'une attestation ANPE</h1>
            </div>
        </div>         
        <div class="px-4 py-8 md:px-6 lg:px-8">
            <p-toast position="top-right"></p-toast>
            
            
            <div class="mt-4">
                <p-card>
                    <!-- place du formulaire -->
                </p-card>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>