<div class="surface-0">
    <div class="guide-wrapper overflow-hidden">
        <app-header></app-header> 
        <p-toast position="top-right"></p-toast> 
        <!-- Hero Section -->
        <div class="other-hero bg-green-800 text-white px-4 py-8 md:px-6 lg:px-8">
            <div class="text-center">
                <h1 class="text-5xl font-bold mb-4">Formulaire de demande d'une attestation de non engagement</h1>
            </div>
        </div>         
        <div class="px-4 py-8 md:px-6 lg:px-8">
            <div class="col-12">
                <div class="card">
                    <h5>{{ formLabels.title }}</h5>
                    <div class="p-fluid p-formgrid grid">
                        <div class="card justify-content-center gap-3 col-12">
                            <div class="flex align-items-center justify-content-start gap-4">
                                <div class="flex align-items-center">
                                    <p-radioButton 
                                        name="requestType" 
                                        value="LIQUIDATION" 
                                        [(ngModel)]="requestType"
                                        (ngModelChange)="onRequestTypeChange()"
                                        label="Liquidation">
                                    </p-radioButton>
                                </div>
                                <div class="flex align-items-center">
                                    <p-radioButton 
                                        name="requestType" 
                                        value="SOUMISSION" 
                                        [(ngModel)]="requestType"
                                        (ngModelChange)="onRequestTypeChange()"
                                        label="Soumission">
                                    </p-radioButton>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 mt-2">
                            <span>Domaine d'activité (*) </span>
                            <input [(ngModel)]="businessDomain" 
                                pInputText 
                                id="businessDomain"  
                                placeholder="Référence du compte" 
                                required />
                        </div>

                        <div class="col-3 mt-2">
                            <span>{{ formLabels.reference }} (*)</span>
                            <input [(ngModel)]="contractReference" 
                                pInputText 
                                id="contractReference"  
                                [placeholder]="formLabels.reference" 
                                required />
                        </div>

                        <div class="col-3 mt-2">
                            <span>{{ formLabels.purpose }} (*)</span>
                            <input [(ngModel)]="contractPurpose" 
                                pInputText 
                                id="contractPurpose"  
                                [placeholder]="formLabels.purpose" 
                                required />
                        </div>

                        <div class="col-3 mt-2">
                            <span>Compte bancaire (*)</span>
                            <input [(ngModel)]="bankAccountReference" 
                                pInputText 
                                id="bankAccountReference"  
                                placeholder="Référence du compte" 
                                required />
                        </div>

                        <div class="col-5 mt-2">
                            <span>Identité de l'organisme attribuant le marché (*)</span>
                            <input [(ngModel)]="contractingOrganizationName" 
                                pInputText 
                                id="contractingOrganizationName"  
                                placeholder="Identité de l'organisme attribuant le marché" 
                                required />
                        </div>

                        <div class="col-4 mt-2">
                            <span>Adresse (*)</span>
                            <input [(ngModel)]="organizationAddress" 
                                pInputText 
                                id="organizationAddress"  
                                placeholder="Adresse" 
                                required />
                        </div>

                        <div class="col-3 mt-2">
                            <span>Numéro de téléphone (*)</span>
                            <input [(ngModel)]="organizationPhone" 
                                pInputText 
                                id="organizationPhone"  
                                placeholder="Numéro de téléphone" 
                                required />
                        </div>
                    </div>

                    <div class="field col-12 text-right">
                        <button pButton
                                pRipple
                                icon="pi pi-check"
                                label="Valider et envoyer le formulaire"
                                class="p-button-success"
                                (click)="onSubmit()">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>  
    </div>
</div>