<div class="grid justify-content-between">
    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                    <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
                </div>
                <h5 class="mb-2 text-900 font-bold">Attestation DRTSS</h5>
                <div class="pt-1">
                    <button routerLink="/app/pages/actes/attestation-drtss" class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                        Faire une demande
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                    <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
                </div>
                <h5 class="mb-2 text-900 font-bold">Attestation de situation cotisante CNSS</h5>
                <div class="pt-1">
                    <a routerLink="/app/pages/actes/attestation-cnss" class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                    Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                    <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
                </div>
                <h5 class="mb-2 text-900 font-bold">Attestation de Situation Fiscale</h5>
                <div class="pt-1">
                    <a routerLink="/app/pages/actes/attestation-situation-fiscale" class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                    Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                    <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
                </div>
                <h5 class="mb-2 text-900 font-bold">Attestation de non engagement de l'Agent judiciaire de l'ETAT (AJE)</h5>
                <div class="pt-1">
                    <a routerLink="/app/pages/actes/attestation-aje" class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                    Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                    <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
                </div>
                <h5 class="mb-2 text-900 font-bold">Registre du commerce et du crédit Mobilier (RCCM)</h5>
                <div class="pt-1">
                    <a routerLink="/app/pages/actes/attestation-rccm" class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                    Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                    <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
                </div>
                <h5 class="mb-2 text-900 font-bold">Certificat de non faillite </h5>
                <div class="pt-1">
                    <a routerLink="/app/pages/actes/certificat-de-non-faillite" class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                    Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="service-card">
            <div class="p-3 surface-card h-full" style="border-radius:8px;">
                <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                    <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
                </div>
                <h5 class="mb-2 text-900 font-bold">Attestation ANPE</h5>
                <div class="pt-1">
                    <a routerLink="/app/pages/actes/attestation-anpe" class="p-button font-semibold bg-green-600 text-white p-button-rounded">
                    Faire une demande
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>