<div class="grid justify-content-between">
    <ng-container *ngFor="let acte of actes">
      <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
        <div class="acte-card-container">
          <div class="p-3 surface-card h-full acte-card-content">
            <div class="flex align-items-center justify-content-center acte-card-icon">
              <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
            </div>
            <h5 class="mb-2 text-900">{{ acte.title }}</h5>
            <div class="pt-1">
              <a [routerLink]="acte.routerLink" class="p-button font-light btn-request">
                Faire une demande
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  