/* .acte-card-container {
    padding: 2px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(187, 199, 205, 0.2), rgba(251, 199, 145, 0.2)),
                linear-gradient(180deg, rgba(180, 130, 4, 0.466), rgba(3, 73, 26, 0.2));
  }
  
  .acte-card-content {
    border-radius: 8px;
  }
  
  .acte-card-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    background-color: #eceff1; 
  }
  
  .btn-request {
    background-color: #38a169; 
    color: white;
  } */
  