<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden" style="background: url('assets/motif2.jpg');">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/image.png" alt="GUMP logo" class="mb-5 w-6rem flex-shrink-0">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--gump-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Guichet Unique des Marchés Publics</div>
                    <span class="text-600 font-medium">Page d'inscription</span>
                </div>
                <!-- Toast Notification -->
                <p-toast></p-toast>

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="field mt-3">
                        <label for="nom">Nom</label>
                        <input id="nom" pInputText formControlName="nom" class="w-full" placeholder="Entrez votre nom" />
                        <p-message *ngIf="submitted && registerForm.controls['nom'].errors" severity="error" text="Le nom est requis"></p-message>
                    </div>

                    <div class="field mt-3">
                        <label for="prenom">Prénom</label>
                        <input id="prenom" pInputText formControlName="prenom" class="w-full" placeholder="Entrez votre prénom" />
                        <p-message *ngIf="submitted && registerForm.controls['prenom'].errors" severity="error" text="Le prénom est requis"></p-message>
                    </div>

                    <div class="field mt-3">
                        <label for="email">Email</label>
                        <input id="email" pInputText formControlName="email" type="email" class="w-full" placeholder="Entrez votre email" />
                        <p-message *ngIf="submitted && registerForm.controls['email'].errors" severity="error" text="Email valide requis"></p-message>
                    </div>

                    <div class="field mt-3">
                        <label for="ifuNumber">Numéro IFU de votre entreprise</label>
                        <input id="ifuNumber" pInputText formControlName="ifuNumber" class="w-full" placeholder="Entrez votre numéro IFU" />
                        <p-message *ngIf="submitted && registerForm.controls['ifuNumber'].errors" severity="error" text="Le prénom est requis"></p-message>
                    </div>

                    <div class="field mt-3">
                        <label for="cnssNumber">Numéro d'adhérent CNSS</label>
                        <input id="cnssNumber" pInputText formControlName="cnssNumber" class="w-full" placeholder="Entrez votre numéro d'adhérent CNSS" />
                        <p-message *ngIf="submitted && registerForm.controls['cnssNumber'].errors" severity="error" text="Le prénom est requis"></p-message>
                    </div>

                    <div class="field mt-3">
                        <label for="password">Mot de passe</label>
                        <input id="password" pInputText formControlName="password" type="password" class="w-full" placeholder="Entrez votre mot de passe" />
                        <p-message *ngIf="submitted && registerForm.controls['password'].errors" severity="error" text="Mot de passe requis"></p-message>
                    </div>

                    <div class="field mt-3">
                        <label for="passwordConfirmation">Confirmer le mot de passe</label>
                        <input id="passwordConfirmation" pInputText formControlName="passwordConfirmation" type="password" class="w-full" placeholder="Confirmez votre mot de passe" />
                        <p-message *ngIf="submitted && registerForm.controls['passwordConfirmation'].errors" severity="error" text="Les mots de passe ne correspondent pas"></p-message>
                    </div>

                    <div class="mt-4">
                        <button pButton type="submit" label="S'inscrire" icon="pi pi-user-plus" class="w-full p-button-success"></button>
                    </div>
                </form>
              </div>
        </div>
    </div>
</div>


