<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
     [ngStyle]="{'background-image': 'linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)'}">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- Logo -->
        <img src="assets/image.png" alt="GUMP logo" class="mb-5 w-6rem flex-shrink-0 animate__animated animate__fadeIn">

        <!-- Carte principale -->
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-12"
             style="max-width: 800px"
             [@cardAnimation]="showFullForm ? 'expanded' : 'initial'">

            <!-- En-tête -->
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium mb-3 animate__animated animate__fadeInDown">
                    Guichet Unique des Marchés Publics
                </div>
                <span class="text-600 font-medium animate__animated animate__fadeIn">{{showFullForm ? 'Complétez votre inscription' : 'Vérification NES & IFU'}}</span>
            </div>

            <!-- Notifications -->
            <p-toast position="top-right"></p-toast>

            <!-- Étape 1: Vérification IFU -->
            <form [formGroup]="ifuForm" (ngSubmit)="verifyIfu()" *ngIf="!showFullForm" [@fadeInOut]>
                <div class="flex flex-column gap-3">
                    <!-- <label for="ifuNumber" class="font-medium">Numéro IFU de votre entreprise</label> -->
                    <p-inputGroup>
                        <!-- <p-inputGroupAddon>
                            <i class="pi pi-id-card"></i>
                        </p-inputGroupAddon> -->
                        <input id="ifuNumber"
                               pInputText
                               formControlName="ifuNumber"
                               placeholder="Entrez votre numéro IFU"
                               [class.ng-invalid]="submitted && ifuForm.get('ifuNumber')?.invalid"
                               class="w-full p-inputtext-lg"/>
                    </p-inputGroup>
                    <div *ngIf="submitted && ifuForm.get('ifuNumber')?.errors" class="p-error">
                        <small *ngIf="ifuForm.get('ifuNumber')?.errors?.['required']">
                            Le numéro IFU est requis
                        </small>
                        <small *ngIf="ifuForm.get('ifuNumber')?.errors?.['minlength'] || ifuForm.get('ifuNumber')?.errors?.['maxlength']">
                            Le numéro IFU doit contenir exactement 09 caractères
                        </small>
                    </div>
                    <p-inputGroup>
                        <input id="nes"
                               pInputText
                               formControlName="nes"
                               placeholder="Entrez votre NES eSintax"
                               [class.ng-invalid]="submitted && ifuForm.get('nes')?.invalid"
                               class="w-full p-inputtext-lg"/>
                    </p-inputGroup>
                     <div *ngIf="submitted && ifuForm.get('nes')?.errors" class="p-error">
                        <small *ngIf="ifuForm.get('nes')?.errors?.['required']">
                            Le NES est requis
                        </small>
                        <small *ngIf="ifuForm.get('nes')?.errors?.['minlength'] || ifuForm.get('nes')?.errors?.['maxlength']">
                            Le NES doit contenir exactement 11 caractères
                        </small>
                    </div>
                    <button pButton
                            type="submit"
                            label="Vérifier"
                            icon="pi pi-check"
                            class="p-button-lg p-button-primary"
                            [loading]="loading"></button>
                </div>
            </form>

            <!-- Étape 2: Formulaire complet -->
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="showFullForm" [@fadeInOut]>
                <div class="grid">
                    <!-- Informations de l'entreprise -->
                    <div class="col-12">
                        <p-fieldset legend="Informations de l'entreprise" [toggleable]="true">
                            <div class="grid">
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="companyName"
                                               pInputText
                                               readonly
                                               formControlName="companyName"
                                               class="w-full readonly-input"/>
                                        <label for="companyName">Nom commercial</label>
                                    </span>
                                </div>

                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="phoneNumber"
                                               pInputText
                                               readonly
                                               formControlName="phoneNumber"
                                               class="w-full readonly-input"/>
                                        <label for="phoneNumber">Téléphone</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="ifuNumber"
                                               pInputText
                                               readonly
                                               formControlName="ifuNumber"
                                               class="w-full readonly-input"/>
                                        <label for="ifuNumber">IFU</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="rccm"
                                               pInputText
                                               formControlName="rccm"
                                               class="w-full"/>
                                        <label for="rccm">RCCM</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="cnssNumber"
                                               pInputText
                                               formControlName="cnssNumber"
                                               class="w-full"/>
                                        <label for="cnssNumber">Numéro d'adhérent CNSS</label>
                                    </span>
                                </div>


                                <div class="col-12 md:col-4 field" appendTo="body">
                                    <label for="region">Sélectionner Région</label>
                                    <p-autoComplete appendTo="body"
                                                    [(ngModel)]="selectedRegion"
                                                    formControlName="selectedRegion"
                                                    id="selectedRegion"
                                                    [suggestions]="filteredRegionsAutoComplete"
                                                    (completeMethod)="filterRegion($event)"
                                                    field="nomComplet"
                                                    [dropdown]="true">
                                    </p-autoComplete>
                                </div>

                                <div class="col-12 md:col-4">
                                    <label for="statutFile">Statut de l'entreprise</label>
                                    <p-fileUpload
                                        mode="basic"
                                        chooseLabel="Charger le fichier"
                                        styleClass="p-button-secondary"
                                        chooseIcon="pi pi-upload"
                                        name="statutFile"
                                        accept="image/*,.pdf"
                                        maxFileSize="1000000000"
                                        (onSelect)="onFileSelect($event, 'statutFile')"/>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>

                    <!-- Informations du représentant -->
                    <div class="col-12">
                        <p-fieldset legend="Informations du représentant" [toggleable]="true">
                            <div class="grid">
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="lastname"
                                               pInputText
                                               formControlName="lastname"
                                               class="w-full"/>
                                        <label for="lastname">Nom</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="forename"
                                               pInputText
                                               formControlName="forename"
                                               class="w-full"/>
                                        <label for="forename">Prénom</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="phoneNumberR"
                                               pInputText
                                               formControlName="phoneNumberR"
                                               class="w-full"/>
                                        <label for="phoneNumberR">Téléphone</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-6">
                                    <span class="p-float-label mt-4">
                                        <input id="nip"
                                               pInputText
                                               formControlName="nip"
                                               class="w-full"/>
                                        <label for="nip">Numéro NIP</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-6">
                                    <label for="cnibFile">Carte d'identité</label>
                                    <p-fileUpload
                                        mode="basic"
                                        chooseLabel="Charger le fichier"
                                        styleClass="p-button-secondary"
                                        chooseIcon="pi pi-upload"
                                        name="cnibFile"
                                        accept="image/*,.pdf"
                                        maxFileSize="1000000000"
                                        (onSelect)="onFileSelect($event, 'cnibFile')"/>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>

                    <!-- Informations de connexion -->
                    <div class="col-12">
                        <p-fieldset legend="Informations de connexion" [toggleable]="true">
                            <div class="grid">
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <input id="email"
                                               pInputText
                                               formControlName="email"
                                               type="email"
                                               class="w-full"/>
                                        <label for="email">Email</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <p-password id="password"
                                                   formControlName="password"
                                                   [toggleMask]="true"
                                                   [feedback]="true"
                                                   promptLabel="Votre mot de passe"
                                                   weakLabel="Très faible"
                                                   mediumLabel="Bon"
                                                   strongLabel="Fort"
                                                   class="w-full"></p-password>
                                        <label for="password">Mot de passe</label>
                                    </span>
                                </div>
                                <div class="col-12 md:col-4">
                                    <span class="p-float-label mt-4">
                                        <p-password id="passwordConfirmation"
                                                   formControlName="passwordConfirmation"
                                                   [toggleMask]="true"
                                                   [feedback]="false"
                                                   class="w-full"></p-password>
                                        <label for="passwordConfirmation">Confirmer le mot de passe</label>
                                    </span>
                                    <small class="p-error" *ngIf="registerForm.errors?.['passwordMismatch'] &&
                                           registerForm.get('passwordConfirmation')?.touched">
                                        Les mots de passe ne correspondent pas
                                    </small>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>

                    <div class="col-12 flex justify-content-center">
                        <!-- <button pButton
                                type="submit"
                                label="S'inscrire"
                                icon="pi pi-user-plus"
                                class="p-button-lg"
                                [loading]="loading"></button> -->
                        <button pButton
                                type="submit"
                                label="Soumettre le formulaire d'inscription"
                                icon="pi pi-user-plus"
                                class="p-button-lg"
                                [ngClass]="{'p-button-secondary': registerForm.invalid || !cnibFile || !statutFile}"
                                [loading]="loading"
                                [disabled]="registerForm.invalid || !cnibFile || !statutFile"
                                pTooltip="Veuillez remplir tous les champs requis et télécharger les documents demandés"
                                [tooltipDisabled]="!(registerForm.invalid || !cnibFile || !statutFile)"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .readonly-input[readonly] {
    background-color: #f0f0f0; /* Gris clair */
    color: #6c757d; /* Texte gris */
    cursor: not-allowed;
}
</style>
