<p-toast key="tst"></p-toast>

<div class="col-12">
    <div class="sticky-bar">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar>
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Enregistrer" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>


            </p-toolbar>
        </div>

        <p-dialog [(visible)]="modalDialog" [style]="{ width: '850px' }"
            header="Enregistrement Agent DRTSS Région du {{this.userInfo.region}}" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="card shadow-2  ">
                    <!--
                  <div class="field" appendTo="body">
                        <label for="email">Sélectionner Région</label>
                        <p-autoComplete appendTo="body"
                                        [(ngModel)]="selectedRegion"
                                        [suggestions]="filteredRegionsAutoComplete"
                                        (completeMethod)="filterRegion($event)"
                                        field="nomComplet"
                                        [dropdown]="true">
                        </p-autoComplete>
                    </div>
                -->

                    <form (ngSubmit)="submitForm()" [formGroup]="userForm">



                        <div class="p-fluid formgrid grid">
                            <div class="field col-12 md:col-12">
                                <label for="username">Nom d'utilisateur?</label>
                                <input formControlName="username" pInputText id="username"
                                    placeholder="Nom d'utilisateur" />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="forename">Nom</label>
                                <input formControlName="forename" pInputText id="forename" placeholder="Nom" />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="lastname">Prenom</label>
                                <input formControlName="lastname" pInputText id="lastname" placeholder="lastname" />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="matricule">Matricule</label>
                                <input formControlName="matricule" pInputText id="matricule" placeholder="matricule" />
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="telephone">Telephone</label>
                                <input formControlName="tel" pInputText id="telephone" placeholder="telephone" />
                            </div>
                        </div>



                        <div class="field">
                            <label for="titre_honorifique">Titre Honorifique</label>
                            <input type="text" pInputText id="titre_honorifique" formControlName="titre_honorifique" />
                        </div>


                        <div class="field">
                            <label for="email">Email *</label>
                            <input type="text" pInputText id="email" formControlName="email" />
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name"> is
                                required.</small>
                        </div>
                        <div class="field col-12 md:col-6" *ngIf="!isUpdate">
                            <label for="password">Mots de passe *</label>
                            <input formControlName="tel" pInputText id="password" placeholder="password" />
                        </div>


                    </form>


                </div>


            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" (click)="modalDialog=false"></button>
                <button (click)="submitForm()" pButton pRipple label="Valider" icon="pi pi-check"
                    class="p-button-text p-button-success"></button>
            </ng-template>
        </p-dialog>

        <p-dialog header="Demande de Confirmation!" [(visible)]="deleteDialog" [modal]="true" showEffect="fade"
            [style]="{width: '20vw'}" [breakpoints]="{'560px': '50vw'}">
            <h4 class="line-height-5 m-0">
                Confirmez-vous cette action ?
            </h4>
            <ng-template pTemplate="footer">
                <button pButton icon="pi pi-refresh" (click)="display=false" label="ANNULER"
                    (click)="deleteDialog=false" class=" p-button-danger p-button-outlined "></button>
                <button pButton icon="pi pi-check" (click)="onConfirm()" label="JE CONFIRME"
                    class="p-button-success p-button-outlined"></button>
            </ng-template>
        </p-dialog>
    </div>

    <div class="card">
        <h5>Utilisateurs DRTSS</h5>
        <p-table #dt1 (onPage)="onPageChange($event)" [value]="utilisateurs" dataKey="id" [rows]="pageSize"
            [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped" rowGroupMode="subheader"
            groupRowsBy="forename" sortField="forename" [paginator]="true" [totalRecords]="{totalRecords}"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,50,100]"
            currentPageReportTemplate="{first} à {last} sur {totalRecords}" responsiveLayout="scroll"
            [scrollable]="true" scrollHeight="500px">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Search Keyword" class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Date
                            <p-sortIcon field="matricule" />
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Matricule
                            <p-sortIcon field="matricule" />
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Nom
                            <p-columnFilter type="text" field="forename" display="menu"
                                placeholder="rechercher ...  "></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Prenom
                            <p-columnFilter type="text" field="lastname" display="menu"
                                placeholder="rechercher ... name"></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Email
                            <p-columnFilter type="text" field="email" display="menu"
                                placeholder="rechercher ...  "></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Titre Honorifique
                            <p-columnFilter type="text" field="titre_honorifique" display="menu"
                                placeholder="rechercher ...  "></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Region
                            <p-columnFilter type="text" field="region" display="menu"
                                placeholder="rechercher ...  "></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Role
                            <p-columnFilter type="text" field="role" display="menu"
                                placeholder="rechercher ...  "></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Status

                        </div>
                    </th>


                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Actions

                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-res>
                <tr>
                    <td>
                        {{ res.createdAt | date: 'dd/MM/yyyy' }}
                    </td>
                    <td>
                        {{ res.matricule }}
                    </td>
                    <td>
                        {{ res.forename }}
                    </td>
                    <td>
                        {{ res.lastname }}
                    </td>
                    <td>
                        {{ res.email }}
                    </td>
                    <td>
                        {{ res.titre_honorifique }}
                    </td>

                    <td>
                        {{ res.region }}
                    </td>
                    <td>
                        {{ res.role }}
                    </td>
                    <td [ngClass]="{ '': res.isActive, 'bg-yellow-custom': !res.isActive }">
                        {{ res.isActive ? 'Compte Actif' : 'Compte Inactif' }}
                    </td>

                    <td>
                        <p-splitButton appendTo="body" label="" icon="pi pi-plus" [model]="items"
                            (click)="onLineClick(res)" styleClass="p-button-info"></p-splitButton>
                    </td>
                </tr>


                <p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle"
                    message="Are you sure you want to proceed?" [style]="{width: '350px'}"
                    acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
